# üßπ Notebook: data_preprocessing.ipynb

**Goal:** Clean & explore PulseBat data.

### Include
- Load `data/PulseBat Dataset.xlsx`
- Select features U1‚ÄìU21 and target SOH
- Handle missing/abnormal values
- Basic sanity checks (SOH in [0,1])
- Scaling/normalization decision + rationale
- Visuals: SOH histogram, correlation heatmap
- Save `data/cleaned_pulsebat.csv`

### Deliverable
- Clean subset CSV + figures for report

In [9]:
# Task 2 ‚Äì Extract U1‚ÄìU21 Columns and Target SOH
# ----------------------------------------------

import pandas as pd

# 1Ô∏è‚É£ Load dataset (path fixed)
df = pd.read_excel("../data/PulseBat Dataset.xlsx")

# 2Ô∏è‚É£ Inspect available columns 
print("All columns in dataset:\n", df.columns.tolist())

# 3Ô∏è‚É£ Select U1‚ÄìU21 features and target SOH 
selected_columns = [f"U{i}" for i in range(1, 22)] + ["SOH"]
df_selected = df[selected_columns].copy()

# 4Ô∏è‚É£ Check for missing or abnormal values 
print("\nMissing values per column:")
print(df_selected.isnull().sum())

# Sanity check: SOH should be between 0 and 1 
invalid_soh = df_selected[~df_selected["SOH"].between(0, 1)]
if len(invalid_soh) > 0:
    print(f"\n‚ö†Ô∏è Rows with invalid SOH: {len(invalid_soh)}")
else:
    print("\n‚úÖ All SOH values valid (0‚Äì1 range)")

# 5Ô∏è‚É£ Preview data 
display(df_selected.head())

# 6Ô∏è‚É£ Save clean subset for model training 
df_selected.to_csv("../data/cleaned_pulsebat.csv", index=False)
print("\n‚úÖ File saved as ../data/cleaned_pulsebat.csv")

All columns in dataset:
 ['Mat', 'No.', 'ID', 'Qn', 'Q', 'Pt', 'SOC', 'SOE', 'U1', 'U2', 'U3', 'U4', 'U5', 'U6', 'U7', 'U8', 'U9', 'U10', 'U11', 'U12', 'U13', 'U14', 'U15', 'U16', 'U17', 'U18', 'U19', 'U20', 'U21', 'SOH']

Missing values per column:
U1     0
U2     0
U3     0
U4     0
U5     0
U6     0
U7     0
U8     0
U9     0
U10    0
U11    0
U12    0
U13    0
U14    0
U15    0
U16    0
U17    0
U18    0
U19    0
U20    0
U21    0
SOH    0
dtype: int64

‚úÖ All SOH values valid (0‚Äì1 range)

,U1,U2,U3,U4,U5,U6,U7,U8,U9,U10,...,U13,U14,U15,U16,U17,U18,U19,U20,U21,SOH
0,3.4858,3.5072,3.5246,3.5035,3.4877,3.4681,3.4452,3.4654,3.4849,3.5277,...,3.4889,3.4530,3.4009,3.4381,3.4840,3.5636,3.6241,3.5469,3.4923,0.912143
1,3.4877,3.5047,3.5317,3.5106,3.4895,3.4706,3.4406,3.4598,3.4864,3.5249,...,3.4914,3.4530,3.3903,3.4312,3.4855,3.5692,3.6396,3.5596,3.4945,0.880905
2,3.4858,3.5013,3.5305,3.5131,3.4877,3.4678,3.4387,3.4588,3.4849,3.5258,...,3.4892,3.4483,3.3891,3.4309,3.4836,3.5565,3.6399,3.5658,3.4929,0.857333
3,3.4898,3.5084,3.5385,3.5199,3.4917,3.4728,3.4375,3.4576,3.4886,3.5267,...,3.4936,3.4539,3.3832,3.4226,3.4874,3.5689,3.6532,3.5773,3.4973,0.831048
4,3.4979,3.5162,3.5494,3.5292,3.5001,3.4799,3.4424,3.4635,3.4967,3.5329,...,3.5016,3.4672,3.3860,3.4269,3.4957,3.5658,3.6684,3.5968,3.5060,0.781952

‚úÖ File saved as ../data/cleaned_pulsebat.csv

In [10]:
df_check = pd.read_csv("../data/cleaned_pulsebat.csv")
df_check.head()

,U1,U2,U3,U4,U5,U6,U7,U8,U9,U10,...,U13,U14,U15,U16,U17,U18,U19,U20,U21,SOH
0,3.4858,3.5072,3.5246,3.5035,3.4877,3.4681,3.4452,3.4654,3.4849,3.5277,...,3.4889,3.4530,3.4009,3.4381,3.4840,3.5636,3.6241,3.5469,3.4923,0.912143
1,3.4877,3.5047,3.5317,3.5106,3.4895,3.4706,3.4406,3.4598,3.4864,3.5249,...,3.4914,3.4530,3.3903,3.4312,3.4855,3.5692,3.6396,3.5596,3.4945,0.880905
2,3.4858,3.5013,3.5305,3.5131,3.4877,3.4678,3.4387,3.4588,3.4849,3.5258,...,3.4892,3.4483,3.3891,3.4309,3.4836,3.5565,3.6399,3.5658,3.4929,0.857333
3,3.4898,3.5084,3.5385,3.5199,3.4917,3.4728,3.4375,3.4576,3.4886,3.5267,...,3.4936,3.4539,3.3832,3.4226,3.4874,3.5689,3.6532,3.5773,3.4973,0.831048
4,3.4979,3.5162,3.5494,3.5292,3.5001,3.4799,3.4424,3.4635,3.4967,3.5329,...,3.5016,3.4672,3.3860,3.4269,3.4957,3.5658,3.6684,3.5968,3.5060,0.781952